@import 'vars';
@import 'mixins';

$dialog-width: 420px;
$dialog-width__small: 544px;

$dialog-full-width-break: 1280px;

$top-offset: 80px;
$margin: 8px;

$padding-x: 24px;
$padding-y: 24px;

.spline-side-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    &__wrapper {
        background-color: $color-white;
        border-radius: 32px;
        bottom: 0;
        box-shadow: 0 0 8px 0 $color-shadow;
        height: calc(100% - #{$top-offset} - #{$margin * 2});
        opacity: 0.5;
        overflow: hidden;
        position: fixed;
        right: -$dialog-width;
        top: $top-offset + $margin;
        transition: all ease .2s;

        visibility: hidden;

        width: $dialog-width;

        &.visible {
            opacity: 1;
            right: $margin;
            top: $top-offset + $margin;
            visibility: visible;
            width: $dialog-width;
            @media (max-width: $dialog-full-width-break) {
                width: calc(100% - 270px);
            }
        }
    }

    &__close-btn {
        position: absolute;
        right: $padding-x;
        top: 0;
        z-index: 2;
    }

    &__header-content {
        line-height: 64px;
    }

    &__header {
        line-height: 64px;
        min-height: 64px;
        padding: 0 16px;

    }

    &__content {
        overflow: auto;
        padding: $padding-y $padding-x;

    }
}
